# SqlLog Task

Database Connection

In [56]:
import psycopg2

conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="postgrespass")

Dropping table if it exists and creating a new logs table for testing final query

In [57]:
cur = conn.cursor()
 
cur.execute('''DROP TABLE IF EXISTS logs''')   
    
cur.execute('''CREATE TABLE logs (
                    user_id INT NOT NULL,
                    login_time TIMESTAMP NOT NULL
            )'''
)

Inserting sample data into table

In [58]:
cur.execute('''INSERT INTO logs(user_id, login_time)
               values(30, timestamp '2020-02-08 12:08:29')
            '''
)

cur.execute('''INSERT INTO logs(user_id, login_time)
               values(8, timestamp '2020-02-20 11:22:00')
            '''
)

cur.execute('''INSERT INTO logs(user_id, login_time)
               values(3, timestamp '2020-02-20 18:00:00')
            '''
)

cur.execute('''INSERT INTO logs(user_id, login_time)
               values(4, timestamp '2020-01-13 16:42:01')
            '''
)

cur.execute('''INSERT INTO logs(user_id, login_time)
               values(3, timestamp '2020-02-20 11:22:01')
            '''
)

cur.execute('''INSERT INTO logs(user_id, login_time)
               values(4, timestamp '2020-02-20 13:30:30')
            '''
)

Loading logs table to check data has been correctly inserted

In [65]:
cur.execute('''SELECT * FROM logs''')

logs_table = cur.fetchall()
logs_table

[(30, datetime.datetime(2020, 2, 8, 12, 8, 29)),
 (8, datetime.datetime(2020, 2, 20, 11, 22)),
 (3, datetime.datetime(2020, 2, 20, 18, 0)),
 (4, datetime.datetime(2020, 1, 13, 16, 42, 1)),
 (3, datetime.datetime(2020, 2, 20, 11, 22, 1)),
 (4, datetime.datetime(2020, 2, 20, 13, 30, 30))]

## Final Query

In [70]:
cur.execute('''SELECT distinct(user_id) FROM logs as user_id
               WHERE login_time > '2020-02-20 11:22:00'
               ORDER BY user_id ASC
'''
)

In [71]:
result = cur.fetchall()
result

[(3,), (4,)]

In [75]:
import pandas.io.sql as psql

result = psql.read_sql('''SELECT distinct(user_id) FROM logs as user_id
               WHERE login_time > '2020-02-20 11:22:00'
               ORDER BY user_id ASC
''', con=conn)

D:\Hagar\anaconda3\envs\hello-spark\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### Example Result

In [76]:
result

   user_id
0        3
1        4

In [77]:
cur.close()
conn.close()